/* .buildweb_div {
 background-image: url('../../assets/technologyy.png');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 500px;
} */

/* .buildweb_div h1 {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5rem;
    padding-top: 10rem;
    font-size: 30px;
} */

.buildweb_container {
  height: auto;
  background: #fff;
  padding-bottom: 5rem;
  overflow-x: hidden;
}

.buildweb_div h1 {
  font-family: "machina";
  font-size: 52px;
  margin-top: 2rem;
  display: flex;

  justify-content: center;
}

.buildweb_div .buildp {
  font-size: 23px;
  font-family: "poppins";
  padding-top: 1rem;
  text-align: center;
}

.buildweb_row {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.buildweb_col1 {
  background: #000;
  color: #fff;
  height: 500px;
  width: 600px;
  border-radius: 0 50% 50% 0;
}

.buildweb_col1 p {
  text-align: left;
  padding-top: 25%;
  width: 400px;
  padding-left: 50px;
  font-family: "poppins";
  font-size: 18px;
  color: rgb(182, 222, 222);
}

.buildweb_col2 {
  background: #000;
  color: #fff;
  height: 500px;
  width: 600px;
  border-radius: 50% 0 0 50%;
}

.buildweb_col2 p {
  text-align: left;
  padding-top: 25%;
  width: 400px;
  padding-left: 50px;
  font-family: "poppins";
  font-size: 18px;
  color: rgb(182, 222, 222);
}

@media screen and (max-width: 600px) {
  .buildweb_row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5rem;
  }

  .buildweb_col1 {
    background: #000;
    color: #fff;
    height: 400px;
    width: auto;
    border-radius: 0 50% 50% 0;
    margin-right: 3rem;
  }

  .buildweb_col2 {
    background: #000;
    color: #fff;
    height: 400px;
    width: auto;
    border-radius: 50% 0 0 50%;
    margin-left: 3rem;
  }

  .buildweb_col1 p {
    text-align: left;
    padding-top: 30%;
    width: 300px;
    padding-left: 20px;
  }

  .buildweb_col2 p {
    text-align: left;
    padding-top: 30%;
    width: 300px;
    padding-left: 30px;
  }

  .buildweb_div h1 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
  }

  .buildweb_div .buildp {
    font-size: 20px;
    width: 100%;
    font-family: "poppins";
    padding-top: 2rem;
    text-align: center;
  }
}
